
.App{
  max-width: 100%;
  display:grid;
  justify-content:center;
  align-items: center;
  padding: 20px;
  background-color: rgb(98, 98, 159);
}
.formcon{
  display:grid;
  padding: 10px;
  gap: 10px;
}
@media  screen and (max-width:500px) {
  .App{
    background-color: rgb(226, 43, 134);
     display: flex;
  }
  
}
@media  screen and (max-width:1200px) {
  .App{
    background-color: rgb(232, 175, 203);
     display: grid;
  }
  
}